.cart {
    position: fixed;
    background: #0E0D13;
    height: 100%;
    left: 0;
    width: 100%;
    top: 0;
    display: none;
    padding: 50px 0;
    z-index: 999;
    overflow: auto;
}
.content h2 {
    padding: 0px 20px;
    font-size: 25px;
   
    color: #4CE29E;
    margin: 10px 0px 15px;
    line-height: 1.1;
}
.cart .content {
    padding: 0px 20px;
}
.cart .content h2 {
    padding: 0px;
    margin: 0px;
}
.cart p {
    color: #73859E;
    padding: 0px;
    margin: 0px;
}
.showCart{ 
    display: block;
}
span.qtdIcon {
    position: absolute;
    background: #2A2B2F;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    top: 0;
    border-radius: 20px;
    align-items: center;
    color: #4CE29E;
    margin: 0 18px;
    font-size: 10px;
}


.total {
    position: fixed;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #4CE29E;
    color: #0E0D13;
    flex-direction: column;
    padding: 25px 0;
    border: 0px;
    border-radius: 15px 15px 0px 0px;
    left:0;
    font-weight: 700;
}
.total button {
    background: #4CE29E;
    color: #0E0D13;
    border: 1px solid;
    border-radius: 20px;
    height: 40px;
    width: 70%;
    padding: 0 25px;
    font-weight: 700;

    margin: 10px auto;
}
.cartProduct {
    display: flex;
    margin: 20px;
    padding: 20px 0;
}
.cartProduct{
    display: flex;
    margin: 0px;
}
.cartProduct div:first-child {
    margin: 0 10px;
}
.controls button {
    /* background: red; */
    margin: 20px 10px;
    color: #4CE29E;
}