.search form {
    display: flex;
    
}
.search form {
    display: flex;
    align-items: center;
}
.search form img {
    margin-top: 0px;
    left: 29px;
}
.search form .fa-magnifying-glass {
    left: 30px;
    position: relative;
}
.search form .fa-arrow-right {
    right: 45px;
    position: relative;
}

.search input {
    width: 100%;
    margin: 0px 15px;
    padding: 0px;
    padding-left: 43px;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    background-color: #2A2B2F;
    /* box-shadow: 1px 4px 5px #f1f1f1ee; */
}
.search svg {
    color: #4CE29E;
}
.search input::-webkit-input-placeholder { /* Edge */
    color: #4CE29E;
  }
  
  .search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4CE29E;
  }
  
  .search input::placeholder {
    color: #4CE29E;
  }
  .contentSearch {
    background: #0E0D13;
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 99;
    top: 0; 
    display:none;
}
div#searchResult {
    position: absolute;
    color: #73859E;
    z-index: 9999999;
    display:none;
}
div#searchResult.show {
    display: initial;
    width: 100%;
    background-color: #2A2B2F;
    border-radius: 30px 30px 0px 0px;
    bottom: 0px;
    overflow: auto;
    position: fixed;
    height: 80%;
    padding: 0px 1px;
}
.contentSearch.showSearch {
    display: block;
}
.searchResult {
    display: none;
}
 
.contentSearch img {
    margin-top: 28px !important;
    left: -37px ;
}
.contentSearch input {
    
    width: 80%;
    margin: 10px;
}